@model RSSReader.ViewModels.RSSFeedItemList
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Settings</div>
            <div class="panel-body">
                <form class="form-group" method="post" asp-action="Index" asp-controller="Home" enctype="multipart/form-data">
                    <div>
                        <label for="FeedUrl">RSS Feed url:</label>
                        <input type="text" name="FeedUrl" class="form-control" value=""/>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("DisplayTitle", true)
                            Diplay Title
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("DisplayLink", false)
                            Diplay Link
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("DisplayContent", true)
                            Diplay Content
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("DisplayDate", false)
                            Diplay Date
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="Add / Refresh" class="btn btn-info btn-sm" />
                    </div>
                </form>   
            </div>
        </div>
        @if (Model.UrlIsValid)
        {
            <div class="panel panel-default">
                <div class="panel-heading">Feeds</div>
                <div class="panel-body">    
                    @foreach (var feed in Model.FeedList) 
                    {
                        <div>
                            @using (Html.BeginForm("Remove","Home", new { feedTitle = @feed.FeedTitle }, FormMethod.Post))
                            {
                                <p>
                                    <input type="submit" value="remove" class="btn btn-danger btn-xs"/>
                                    @feed.FeedTitle
                                </p>
                            }  
                        </div>
                    }
                </div>  
            </div>
        }
    </div>
    <div class="col-md-9">
        @if (Model.UrlIsValid)
        {
            <div class="panel-group">
                @foreach (var item in Model.ItemList)
                {
                    <div class="panel panel-info">
                        @if (Model.DisplayTitle)
                        {
                            <div class="panel-heading">@item.TitleStr</div>

                        }
                        <div class="panel-body">
                            @if (Model.DisplayContent)
                            {
                                <div>
                                    @Html.Raw(@item.ContentStr)
                                </div>
                            }
                        </div>
                        @if (Model.DisplayLink || Model.DisplayDate)
                        {
                            <div class="panel-footer">
                                @if (Model.DisplayLink)
                                {
                                    <div>
                                        <a href=@item.LinkStr>@item.LinkStr.Substring(0, Math.Min(item.LinkStr.Length, 60))...</a>
                                    </div>
                                }
                                @if (Model.DisplayDate)
                                {
                                    <div>
                                        @item.DateStr
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <div>
                @Model.ErrorMsg
                <hr />
            </div>}
    </div>
</div>
